<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500;700&family=Tilt+Warp&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{{ url_for('static', path='css/main.out.css') }}" type="text/css">
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}

    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
    <header>
        <nav class="shadow-md p-2">
            <div class="w-3/5 mx-auto flex justify-between items-center">
                <h1 class="m-0 p-0">AQI</h1>
                <div class="flex justify-center items-start gap-10 text-[#757575]">
                    <a href="#aqi" class="hover:text-[#313131]">AQI Predictions</a>
                    <a href="#heatwave" class="hover:text-[#313131]">Heatwave Predictions</a>
                </div>
            </div>
        </nav>
    </header>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
